[submodule "bundle/closetag.vim"]
	path = bundle/closetag.vim
	url = https://github.com/mpeeters/closetag.vim.git
[submodule "bundle/vim-bufexplorer"]
	path = bundle/vim-bufexplorer
	url = https://github.com/mpeeters/vim-bufexplorer
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/mpeeters/vim-flake8.git
